@import url('https://fonts.googleapis.com/css2?family=Asset&family=Cinzel&family=Jost&family=Libre+Bodoni&family=Lora&family=Montserrat:wght@200;300&family=Nunito&family=Oxygen:wght@700&family=Pacifico&family=Playfair+Display:ital@0;1&family=Poppins:wght@600&family=Raleway:wght@300;700&family=Updock&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
